html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* css for navbar */

header {
  background-color: #f2f6fa;
  color: #333;
  border-radius: 0 0 10px 10px;
  margin: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
nav .nav-links {
  display: flex;
  flex: 0 1 80%;
  justify-content: end;
}

nav ul li {
  list-style: none;
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: semi-bold;
}

nav .nav-icons ul li {
  margin: 0 10px;
}

nav ul li a:hover {
  color: #007bff;
  text-decoration: underline;
}

/*CSSS for Hero section  */

#hero {
  height: 550px;
  background-color: rgb(229, 239, 247);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#hero:nth-child(1) h4 {
  margin-top: 0 !important;
  padding-top: 0 !important;
  color: #007bff;
  font-size: 52px;
  margin-bottom: 10px;
  font-weight: bold;
  /* give gap between each letter */
    letter-spacing: 5px;
}

#hero div img {
  height: 500px;
  width: auto;
  object-fit: cover;
}

#hero:nth-child(1) button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
