html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  background-color: rgb(250, 237, 237);
  color: black;
  padding: 0.1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: semi-bold;
  font-size: medium;
}

nav ul li {
  list-style: none;
  display: inline;
  margin: 0 1rem;
}

#search-cart-login {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

nav .nav-links-container {
  flex: 1;
}

.search-box input[type="search"],
.search-box button {
  padding: 0.3rem;
  border: none;
  outline: none; 
}

.search-box input[type="search"] {
  width: 25rem;
  font-size: medium;
}

.search-box button {
  background-color: white;
  color: black;
  cursor: pointer;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.4rem;
    padding: 0.5rem;
}
